@charset "UTF-8";

:root{
    --cor0:#515459;
    --cor1:#F2A74B;
    --cor2:#F27B35;
    --cor3:#BF391B;
    --cor4:#0D0D0D;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
background-color: var(--cor0);
background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
}

header{
    min-height: 55px;
    text-align: center;
    font-size: 3.0em;
    padding-top: 10px;
    padding-bottom: 10px;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2));
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main > h2{
   border-radius: 10px;
    padding: 8px;
    margin: 8px;
    font-size: 2.0em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

picture img{
    max-width: 350px;
    display: block;
    margin: 25px;
}

main > p {
    font-size: 1.5em;
    text-indent: 0.8em;
    text-size-adjust: auto;
}

main abbr{ 
    text-decoration: none;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 3px 3px 9px rgba(182, 113, 9, 0.836);
    text-indent: 8px;
    margin: 10px;
}

aside > h2 {
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
    background-color: var(--cor4);
    color: rgba(182, 113, 9, 0.836);
    padding: 10px;
    margin: -10px -10px 0px -10px ;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style: none;

}

aside  a{
    text-decoration: none;
    color: inherit;
}

aside p {
    font-size: 1.5em;
}
footer{
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 49px;
    margin: 46px;
}

